/* CSS Styling for Tic-Tac-Toe */ 

.gameboard {
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
} 

.space {
    height: 100%;
    width: 100%;
    border: solid black;
}

.changedspacex {
    background-image: url('pieces/tictactoe-x.png');
    background-size: 100%;
}

.changedspaceo {
    background-image: url('pieces/tictactoe-o.png');
    background-size: 100%;
}